body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}